html, body{
	font-family: Arial, sans-serif;
	padding: 0px;
	margin: 0
}

header{
	background-color: #ff1a1a;
	padding: 40px 20px 40px 20px;
	text-align: center;
	color: #9C640C;
}

h1{
	font-size: 35px
	color: #DC143C;
}
h2{
	font-size: 35px;
	color: #ff3333;
}
header img{
	border-radius: 170px
	width:300px;
	border: 20px solid #cc9900;
}

.content{
	max-width: 500px;
	margin: 0 ;
	background-color: cornsilk;
	padding: 0 70px;
}

img.big-image{
	max-width: 100%
	font-size: 80px;
}

p.caption{
	font-size: 16px;
	color: gold
	font-style; italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
a{
	color: red;
	text-decoration: none;
}


footer{
	padding: 40px 20px;
	background-color: #DAA520
}
/*<header>
	         <img src="https://segundoenfoque.com/wp-content/uploads/2018/08/mulan-disney-segundoenfoque.jpg">
	         <h1>Mulan</h1>
        </header>*/